<div class="row mt-2">
    <div class="col">
        <div class="info-box shadow-sm">
            <span class="info-box-icon bg-info"><i class="fas fa-calendar"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{{#str}}number_of_events_today, local_order{{/str}}</span>
                <span class="info-box-number">None</span>
            </div>
        </div>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col">

    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <div class="card">
            <div class="card-body">

            </div>
        </div>
    </div>
</div>
