<div class="row mt-2">
    <div class="col">
        <div class="info-box shadow-sm">
            <span class="info-box-icon bg-info"><i class="fas fa-calendar"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{{#str}}number_of_events_today, local_order{{/str}}</span>
                <span class="info-box-number">{{number_of_events}}</span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="info-box shadow-sm">
            <span class="info-box-icon bg-info"><i class="fas fa-users"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{{#str}}number_of_users, local_order{{/str}}</span>
                <span class="info-box-number">{{number_of_users}}</span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="info-box shadow-sm">
            <span class="info-box-icon bg-info"><i class="fas fa-layer-group"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{{#str}}number_of_organizations, local_order{{/str}}</span>
                <span class="info-box-number">{{number_of_organizations}}</span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="info-box shadow-sm">
            <span class="info-box-icon bg-info"><i class="fas fa-money-check"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{{#str}}number_of_vendors, local_order{{/str}}</span>
                <span class="info-box-number">{{number_of_vendors}}</span>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <div class="card">
            <div class="card-body">
                {{> local_order/management_cards}}
            </div>
        </div>
    </div>
</div>
