<div class="row">
    <div class="col">
        <h3 class="card-title">{{#str}}filters, local_order{{/str}}</h3>
    </div>
    <div class="col d-flex justify-content-end">
        <div class="form-group fitem">
            <button class="btn btn-outline-primary btn-add-new">{{#str}}new, local_order{{/str}}</button>
        </div>
        {{> local_order/pdf_buttons}}
    </div>
</div>
<div class="form-row align-items-center">
    <div class="col-auto">
        <label class="sr-only" for="local_order_events_daterange">Username</label>
        <div class="input-group mb-2">
            <input type="text" id="local_order_events_daterange" class="form-control" value="{{daterange}}">
            <div class="input-group-append">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>

    <div class="col-auto">
        <div class="input-group mb-2">
            <button id="local-order-reset-date" class="btn btn-outline-primary">{{#str}}
                today, local_order{{/str}}</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr>
    </div>
</div>


