<div class="row">
    <div class="col">
        <h3 class="card-title">{{#str}}filters, local_order{{/str}}</h3>
    </div>
    <div class="col d-flex justify-content-end">
        <div class="form-group fitem">
            <button class="btn btn-outline-primary btn-add-new">{{#str}}new, local_order{{/str}}</button>
        </div>
        {{> local_order/pdf_buttons}}
        {{> local_order/excel_buttons}}
    </div>

</div>
<div class="form-row align-items-center">
    <div class="col-auto">
        <label class="sr-only" for="local_order_events_daterange">Username</label>
        <div class="input-group mb-2">
            <input type="text" id="local_order_events_daterange" class="form-control" value="{{daterange}}">
            <div class="input-group-append">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>

    <div class="col-auto">
        <div class="input-group mb-2">
            <button id="local-order-reset-date" class="btn btn-outline-primary">{{#str}}
                today, local_order{{/str}}</button>
        </div>
    </div>

    <div class="col-auto">
        <div class="input-group mb-2">
            <select class="form-control refresh-change" name="status" id="local-order-organization-filter">
                <option value=""></option>
                {{#organizations}}
                    <option value="{{value}}" {{#selected}}selected{{/selected}}>{{text}}</option>
                {{/organizations}}
            </select>
        </div>
    </div>
</div>
<div class="form-row align-items-center">
    <div class="col-auto">
        <div class="input-group mb-2">
            <select class="form-control refresh-change w-100" name="status" id="local-order-status-filter">
                <option value=""></option>
                {{#statuses}}
                    <option value="{{value}}" {{selected}}>{{text}}</option>
                {{/statuses}}
            </select>
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2">
            <select class="form-control" name="building" id="local-order-building-filter">
                <option value=""></option>
                {{#buildings}}
                    <option value="{{building_shortname}}" {{#selected}}selected{{/selected}}>
                        {{building_name}} ({{building_shortname}})
                    </option>
                {{/buildings}}
            </select>
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2">
            <select class="form-control  refresh-change" name="room" id="local-order-room-filter">
                <option value=""></option>
                {{#rooms}}
                    <option value="{{name}}" {{#selected}}selected{{/selected}}>
                       {{building_shortname}} {{name}}
                    </option>
                {{/rooms}}
            </select>
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2">
            <button class="btn btn-outline-primary" id="clear-filters">
                {{#str}}clear_filters, local_order{{/str}}
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr>
    </div>
</div>


