<div id="local_order_inventory_instructions" class="row mb-3">
    <div class="col-md-6">
        <div class="alert alert-info">
            <label for="local_order_inventory_import_instructions">{{#str}}instructions, local_order{{/str}}</label>
            <div id="local_order_inventory_import_instructions">
                {{#str}}inventory_instructions, local_order{{/str}}
            </div>
        </div>
    </div>
</div>


<div id="local_order_event_instructions" class="row mb-3">
    <div class="col-md-6">
        <div class="alert alert-info">
            <label for="local_order_event_import_instructions">{{#str}}instructions, local_order{{/str}}</label>
            <div id="local_order_event_import_instructions">
                {{#str}}event_instructions, local_order{{/str}}
            </div>
        </div>
    </div>
</div>