<div class="row">
    <div class="col">
        <h3 class="card-title">{{#str}}filters, local_order{{/str}}</h3>
    </div>
    {{#can_add}}
        <div class="col d-flex justify-content-end">
            <div class="form-group fitem">
                <button class="btn btn-outline-primary btn-add-new">{{#str}}new, local_order{{/str}}</button>
            </div>
        </div>
    {{/can_add}}
</div>
<div class="form-row align-items-center">
    <div class="col-auto">
        <label class="sr-only" for="local_order_inventory_category">{{#str}}
            inventory_category, local_order{{/str}}</label>
        <div class="input-group mb-2">
            <select id="local_order_inventory_category" class="form-control">
                {{#categories}}
                    <option value="{{id}}" {{selected}}>{{name}}</option>
                {{/categories}}
            </select>
            <div class="input-group-append">
                <div class="input-group-text"><i class="fa fa-filter"></i></div>
            </div>
        </div>
    </div>

    <div class="col-auto">
        <div class="input-group mb-2">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr>
    </div>
</div>


