<div class="card-deck">
    <div class="card">
        <div class="local_order_image_container">
            <img src="{{config.wwwroot}}/local/order/img/event1.jpg" class="card-img-top local_order_card_top_image"
                 alt="...">
        </div>
        <div class="card-body">
            <h3 class="card-title">{{#str}}events, local_order{{/str}}</h3>
            <p class="card-text">
                {{#str}}events_card_help, local_order{{/str}}
            </p>
        </div>
        <div class="card-footer">
            <a href="{{config.wwwroot}}/local/order/events/index.php" class="btn btn-outline-primary float-right"
               title="{{#str}}view, local_order{{/str}} {{#str}}events, local_order{{/str}}">
                {{#str}}view, local_order{{/str}}
            </a>
        </div>
    </div>
    {{^is_vendor}}
        <div class="card">
            <div class="local_order_image_container">
                <img src="{{config.wwwroot}}/local/order/img/organization1.png"
                     class="card-img-top local_order_card_top_image"
                     alt="...">
            </div>
            <div class="card-body">
                <h3 class="card-title">{{#str}}organizations, local_order{{/str}}</h3>
                <p class="card-text">
                    {{#str}}organizations_card_help, local_order{{/str}}
                </p>
            </div>
            <div class="card-footer">
                <a href="{{config.wwwroot}}/local/order/organization/index.php"
                   class="btn btn-outline-primary float-right"
                   title="{{#str}}view, local_order{{/str}} {{#str}}organizations, local_order{{/str}}">
                    {{#str}}view, local_order{{/str}}
                </a>
            </div>
        </div>

        <div class="card">
            <div class="local_order_image_container">
                <img src="{{config.wwwroot}}/local/order/img/vendor2.jpg"
                     class="card-img-top local_order_card_top_image"
                     alt="...">
            </div>
            <div class="card-body">
                <h3 class="card-title">{{#str}}vendors, local_order{{/str}}</h3>
                <p class="card-text">
                    {{#str}}vendors_card_help, local_order{{/str}}
                </p>
            </div>
            <div class="card-footer">
                <a href="{{config.wwwroot}}/local/order/vendor/index.php" class="btn btn-outline-primary float-right"
                   title="{{#str}}view, local_order{{/str}} {{#str}}vendors, local_order{{/str}}">
                    {{#str}}view, local_order{{/str}}
                </a>
            </div>
        </div>

        <div class="card">
            <div class="local_order_image_container">
                <img src="{{config.wwwroot}}/local/order/img/room.jpg"
                     class="card-img-top local_order_card_top_image"
                     alt="...">
            </div>
            <div class="card-body">
                <h3 class="card-title">{{#str}}rooms, local_order{{/str}}</h3>
                <p class="card-text">
                    {{#str}}rooms_card_help, local_order{{/str}}
                </p>
            </div>
            <div class="card-footer">
                <a href="{{config.wwwroot}}/local/order/rooms/index.php" class="btn btn-outline-primary float-right"
                   title="{{#str}}view, local_order{{/str}} {{#str}}rooms, local_order{{/str}}">
                    {{#str}}view, local_order{{/str}}
                </a>
            </div>
        </div>
    {{/is_vendor}}
    <div class="card">
        <div class="local_order_image_container">
            <img src="{{config.wwwroot}}/local/order/img/inventory.jpg" class="card-img-top local_order_card_top_image"
                 alt="...">
        </div>
        <div class="card-body">
            <h3 class="card-title">{{#str}}inventory, local_order{{/str}}</h3>
            <p class="card-text">
                {{#str}}inventory_card_help, local_order{{/str}}
            </p>
        </div>
        <div class="card-footer">
            <a href="{{config.wwwroot}}/local/order/inventory/index.php" class="btn btn-outline-primary float-right"
               title="{{#str}}view, local_order{{/str}} {{#str}}inventory, local_order{{/str}}">
                {{#str}}view, local_order{{/str}}
            </a>
        </div>
    </div>
</div>
