<div class="row mt-2">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row mt-2">
                    <div class="col">
                        <a href="{{config.wwwroot}}/local/order/reports/event_cost_by_org.php">
                            {{#str}}report_event_cost_by_org, local_order{{/str}}
                        </a>
                        <br>
                        <a href="{{config.wwwroot}}/local/order/reports/detail_event_cost_by_org.php">
                            {{#str}}report_detail_event_cost_by_org, local_order{{/str}}
                        </a>
                        <br>
                        <a href="{{config.wwwroot}}/local/order/reports/event_cost_by_vendor.php">
                            {{#str}}report_event_cost_by_vendor, local_order{{/str}}
                        </a>
                        <br>
                        <a href="{{config.wwwroot}}/local/order/reports/event_summary_by_org.php">
                            {{#str}}report_event_summary_by_org, local_order{{/str}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

