<div class="row">
    {{#can_add}}
        <div class="col d-flex justify-content-end">
            <div class="form-group fitem">
                <button class="btn btn-outline-primary btn-add-new">{{#str}}new, local_order{{/str}}</button>
            </div>
        </div>
    {{/can_add}}
</div>


